/*리액트 화면의 색깔보고 설정하셈ㅋㅋ */
/*ㅇㅋ???*/
.calendar-body {
  width: 900px;
}
.react-calendar {
  padding-left: 50px;
  box-sizing: border-box;
  border: none;
  width: 900px;
  height: 600px;
}
.react-calendar__tile--now {
  background-color: thistle;
  width: 900px;
}

.react-calendar__month-view__weekdays__weekday {
  /* background-image: url(./img/nolja_kuku.jpeg);
  background-size: cover; */
  width: 85px;
  height: 30px;
}
.react-calendar__month-view__days {
  background-color: yellowgreen;
  height: 550px;
}
button[type="button"] {
  background-image: url(./img/give_me.jpeg);
  background-size: cover;
}
button[type="button"]:hover {
  background-image: url(./img/notAChance.jpeg);
  background-size: contain;
}
.react-calendar__navigation button {
  background-image: url(./img/cry.jpeg);
  background-size: contain;
  justify-content: left;
}
abbr[aria-label^="2022년"] {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-size: 25px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
abbr[aria-label$="요일"] {
  font-size: 30px;
}
.react-calendar {
  width: 950px;
  height: 450px;
}
button {
  width: 50px;
}
abbr {
  background-color: none;
  width: 20px;
}
/* .react-calendar__tile {
  margin: 0;
  padding: 0;
} */
.react-calendar__navigation__arrow {
  display: none;
}
.react-calendar__navigation__label {
  font-size: 40px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
