/*리액트 화면의 색깔보고 설정하셈ㅋㅋ */
/*ㅇㅋ???*/
.calendar-body {
  width: 900px;
  height: 450px;
}

.react-calendar__tile--now {
  background-color: thistle;
  width: 900px;
}

.react-calendar__month-view__weekdays__weekday {
  background-color: yellow;
  width: 85px;
}
.react-calendar__month-view__days {
  background-color: yellowgreen;
  height: 450px;
}

button[type="button"] {
  background-color: thistle;
}
.react-calendar__navigation button {
  background-color: red;
  justify-content: left;
}

abbr[aria-label^="2022년 3월"] {
  font-size: 19px;
}
.react-calendar {
  width: 950px;
  height: 450px;
}
button {
  width: 50px;
}
abbr {
  background-color: tomato;
  width: 50px;
}
/* .react-calendar__tile {
  margin: 0;
  padding: 0;
} */
.react-calendar__navigation__arrow {
  display: none;
}
